{% load static %}

<div class="jumbotron mx-2">
  <h1 class="display-4">Something went wrong</h1>
  <p class="lead">Server error - Try a bit later</p>
  <div class = "text-center">
    <img src="https://cdn2.thecatapi.com/images/7isAO4Cav.jpg" class="img text-center rounded-circle border border-danger" alt="Cat hero image" aria-label="Cat hero image">
  </div>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-secondary btn-lg" href="{% url 'index' %}"
    role="button">Home page</a>
  </p>
</div>
